@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebStore.Models.Employee

<div class="content">
    <div class="list">
        <h3>Сотрудник</h3>
        <div class="card">
            <div class="img__profile">
                <img src="@Url.Content(Model.ImagePath)" alt="Фотография профиля" />
            </div>
            <div class="card__descriptions">
                <p class="tag">Фамилия</p>
                <p>@Model.LastName</p>
                <p class="tag">Имя</p>
                <p> @Model.FirstName</p>
                <p class="tag">Отчество</p>
                <p>@Model.Patronymic</p>
                <p class="tag">Короткое имя</p>
                <p>@Model.ShortName</p>
                <p class="tag">Пол</p>
                <p>@(Model.Sex == 0 ? "Женский" : "Мужской")</p>
                <p class="tag">День рождения</p>
                <p>@Model.Birthday.ToString("D")</p>
                <p class="tag">Табельный №</p>
                <p>@Model.Number</p>
                <p class="tag">Внутренний телефон</p>
                <a href="tel:@Model.InternalPhone">@Model.InternalPhone</a>
                <p class="tag">Мобильный телефон</p>
                <a href="tel:@Model.MobilePhone"> @Model.MobilePhone</a>
                <p class="tag">Рабочий телефон</p>
                <a href="tel:@Model.BusinessPhone">@Model.BusinessPhone</a>
                <p class="tag">Домашний телефон</p>
                <a href="tel:@Model.HomePhone">@Model.HomePhone</a>
                <p class="tag">Факс</p>
                <a href="fax:@Model.HomePhone">@Model.HomePhone</a>
                <p class="tag">E-mail</p>
                <a href="mailto:@Model.Email">@Model.Email</a>
            </div>
        </div>
    </div>
</div>