@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebStore.Models.Employee

<div class="content">
    <div class="list">
        <h3>Сотрудник</h3>
        @Model.LastName
        @Model.FirstName
        @Model.Patronymic
        @Model.ShortName
        @(Model.Sex == 0 ? "Женский" : "Мужской")
        @Model.Birthday.ToString("D")
        @Model.Number
        @Model.InternalPhone
        @Model.MobilePhone
        @Model.BusinessPhone
        @Model.HomePhone
        @Model.Fax
        @Model.Email
        @Model.ImagePath
    </div>
</div>